---
import Layout from '../layouts/Layout.astro'
import { Accordion, Button, Card, Form, IconBox } from '../components'
import '../styles/base.css'
import astronaut from '../assets/astronaut.png'
import student from '../assets/student.png'
import { Image } from '@astrojs/image/components'
import ChevronDoubleDown from 'astro-heroicons/outline/ChevronDoubleDown.astro'
import ArrowRight from 'astro-heroicons/outline/ArrowRight.astro';
import { Icon } from 'astro-icon'
---

<Layout title="YAGMI">
	<div class='fixed min-h-screen min-w-full'></div>
		<header class="flex justify-between items-center bg-white rounded-2xl border-[1px] border-black my-10 w-full relative max-w-[80%] py-3 px-5">
		<h3 class="text-2xl font-chromate ml-1">YAGMI</h3>
		<a href="mailto:yagmi.finance@gmail.com?subject=Hey frens!" class="font-work-sans font-medium border-black border-[1px] rounded-lg px-2 py-[0.25px] text-lg bg-white">Contact Us</a>
	</header>
	<main class="flex flex-col min-h-screen items-center relative mx-[10%]">
		<div class="flex justify-between min-h-[70vh] items-center">
			<div class="flex flex-col max-w-[50%] pb-20">
				<h1 class="font-chromate text-6xl mb-8 text-white">Welcome to YAGMI</h1>
				<p class="font-work-sans mb-8 text-lg text-white">Revolutionize crowdfunding with our <span class="text-yagmi-aqua">profit-driven</span> platform, challenging the over-collateralized blockchain norm. We provide <span class="text-yagmi-aqua">under-collateralized loans</span> to promising DAO members, enabling them to create more value. Join us, invest in exceptional individuals, and enjoy steady, sustainable returns.</p>
				<Button href="https://app.yagmi.finance/" styles='self-start px-6 py-2 flex items-center'>Launch App<ArrowRight width='1.5rem' height='1.5rem' class='ml-4 pt-1'/></Button>
			</div>
			<Image src={astronaut} alt="An astronaut in space" class="mr-4"/>
		</div>
		<a href="#achieving" class="animate-bounce text-white">
			<ChevronDoubleDown width='2rem' height='2rem'/>
		</a>
	</main>
	<section class="flex flex-col justify-center min-h-screen min-w-full relative" id='achieving'>
		<div class="flex max-h-[80%] border-y-2 border-black">
			<div class='flex flex-col min-w-[50%] bg-yagmi-blue border-r-2 border-black pl-20 pr-40 text-white'>
				<h2 class="font-chromate text-6xl mt-12">Achieving <h2 class="font-chromate text-6xl mt-5">more together</h2></h2></h2>
				<ul class='list-disc mt-10 pl-5'>
					<li class='font-work-sans text-lg mb-3'>Each participant has a role to play: DAO members stake their reputation, DAOs offer a small collateral, and users share risks and rewards.</li>
					<li class='font-work-sans text-lg'>When a DAO member secures funding, we refer to them as "champions". If they repay their loan with interest, the DAO earns more credit and users enjoy the gains - EVERYONE WINS!"</li>
				</ul>
			</div>
			<div class="flex justify-center items-center min-w-[50%] bg-white py-5">
				<Image src={student} alt="A graduating student" />
			</div>
		</div>
	</section>
	<section class="flex flex-col w-full max-w-[80%] min-h-screen items-center justify-evenly relative text-white">
		<h2 class="font-chromate text-6xl">DAOs we work with!</h2>
		<div class="flex items-center justify-evenly w-full">
			<IconBox symbol="?" title="Lorem Ipsum"/>
			<IconBox symbol="!" title="Lorem Ipsum"/>
			<IconBox symbol="%" title="Lorem Ipsum"/>
			<IconBox symbol="$" title="Lorem Ipsum"/>
			<IconBox symbol="#" title="Lorem Ipsum"/>
		</div>
		<Button href="/#signup" styles='px-10 py-2'>Sign up with your DAO</Button>
	</section>
	<section class="flex items-center justify-center w-full min-h-screen relative bg-yagmi-yellow p-[10%]">
		<Card styles="bg-white mr-[1%]" title="01">
			<span class="font-semibold">Select</span> a reputable DAO you're familiar with
		</Card>
		<Card styles="bg-white mr-[1%]" title="02">
			<span class="font-semibold">Review</span> the loan terms offered by their champion
		</Card>
		<Card styles="bg-white mr-[1%]" title="03">
			Purchase the desired number of NFTs at a fixed price, and <span class="font-semibold">patiently wait</span>
		</Card>
		<Card styles="bg-white" title="04">
			Check for available withdrawals, and retrieve your initial investment along with <span class="font-semibold">earned interest</span>
		</Card>
	</section>
	<section class="flex items-center justify-center w-full max-w-[80%] min-h-screen relative" id='signup'>
		<div class="relative w-full min-h-[70vh] bg-yagmi-blue rounded-lg text-white">
			<div class="relative flex flex-col items-center justify-evenly min-h-[80vh] py-10">
				<h2 class="font-chromate text-5xl">Are you a DAO member or contributor?</h2>
				<p class="font-work-sans text-lg text-center mx-52">While we're currently in alpha and not accepting new organizations, we eagerly anticipate expanding our reach in the future. To qualify, organizations must demonstrate a robust decentralized voting system that rewards exceptional talent within the community. If your organization fosters individual growth through such a system, join our waitlist to stay updated on our progress!</p>
				<Form client:idle>
					<ArrowRight width="1.5rem" height="1.5rem" />
				</Form>
				<div class="min-w-[14rem] border-white border-2"></div>
			</div>
		</div>
	</section>
	<section class="flex flex-col items-center justify-center w-full max-w-[80%] relative my-[5vh]">
		<h2 class="font-chromate text-5xl mb-7 text-white">FAQs</h2>	
		<Accordion client:idle />
	</section>
	<section class="flex flex-col w-full relative min-h-[60vh] pt-20">
		<div class="flex justify-evenly min-h-full bg-yagmi-yellow py-14">
			<div class="flex flex-col w-full max-w-[20%] p-5">
				<span class="font-work-sans font-semibold mb-5">Our Mission</span>
				<p class="font-work-sans">We believe web3 can change lives, and we are going to prove it NFT by NFT.</p>	
			</div>	
			<div class="flex flex-col w-full max-w-[20%] p-5">
				<span class="font-work-sans font-semibold mb-5">Our Roadmap</span>
				<ul class="list-disc pl-6">
					<li class="font-work-sans">Alpha launch - May 2023</li>
					<li class="font-work-sans">Beta launch - June 2023</li>
					<li class="font-work-sans">... and more, stay tuned!</li>
				</ul>
			</div>
			<div class="flex flex-col w-full max-w-[25%] border-black border-l-2 p-5 pl-20 mr-10">
				<span class="font-work-sans font-semibold mb-7">Follow us for more updates</span>
				<div class="flex items-center">
					<a href="https://twitter.com/yagmifinance" class="mr-4">
						<Icon name='twitter' class="w-10 h-10"/>
					</a>
				</div>
			</div>
		</div>
		<div class="flex justify-center items-center bg-black min-w-full min-h-[25vh]">
			<p class="font-chromate text-9xl text-white">You are gonna make it!</p>
		</div>
	</section>
</Layout>