---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import '../styles/base.css'
import astronaut from '../assets/astronaut.png'
import { Image } from '@astrojs/image/components'
import ChevronDoubleDown from 'astro-heroicons/outline/ChevronDoubleDown.astro'
---

<Layout title="Yagmi Project">
	<div class="fixed -z-1 bg-[#F1FAFF] w-[60rem] h-[60rem] rounded-[50%] top-[-20vw] right-[-3vw]"/>
	<nav class="flex justify-between bg-white rounded-full border-[1px] border-black my-10 w-full z-0">
		<h3 class="font-bold text-2xl font-comfortaa py-3 pl-6">Yagmi</h3>
		<a href="/" class="font-medium text-lg font-work-sans py-3 pr-6 mt-[0.1rem]">Contact Us</a>
	</nav>
	<main class="flex justify-between min-h-[75vh] items-center z-0">
		<div class="flex flex-col max-w-[50%] pb-20">
			<h1 class="font-chromate text-6xl mb-5">Welcome to YAGMI</h1>
			<p class="font-work-sans mb-5 text-lg">Lorem ipsum dolor sit amet consectetur. Mauris sit ornare sem turpis adipiscing senectus scelerisque nibh dolor. Velit lacinia donec dui in libero volutpat maecenas aliquet. A amet gravida quisque tellus.</p>
			<Button href="/" styles='self-start px-8 py-2'>Launch App</Button>
		</div>
		<Image src={astronaut} alt="An astronaut in space" class="mr-4"/>
	</main>
	<a href="/" class="z-0">
		<ChevronDoubleDown width='1rem' height='1rem'/>
	</a>
</Layout>