---
export interface Props {
    styles: string;
    title: string;
}

const { styles, title } = Astro.props;
---
<div class=`max-w-[24%] min-h-[50vh] pt-5 px-5 border-black border-[1px] relative overflow-hidden ${styles}`>
    <span class="font-chromate absolute -bottom-5 -left-5 text-9xl">{title}</span>
    <p class="font-work-sans text-lg">
        <slot />
    </p>
</div>